body {
    background-color: #b7d1c4;
}

p {
    color: red;
}

h2 {
    color:red;
}

h3 {
    color:red;
}
img {
    height: 500px;
    width: 500px;
}
span {
    font-size: 60px;
}
    
    
    
    
    
