h1 {
  text-align:center;
  color:#000000;
  font-family: American Typewriter;
  font-size:85px;
  border-bottom:solid 3px #96989b;
  background-color:#00ee76;
  margin-top:0px;
}
span {
  text-decoration:underline;
  font-size:35px;
}
p {
  font-size:35px;
}
ul {
  font-size:20px;
}
.blocks {
  position: relative;
  margin-left:75px;
  margin-top:60px;
  background-color:#00cd66;
  width:400px
  height:100px;
}
.blockl {
  position: relative;
  background-color:#008b45;
  float:left;
  width:400px;
  height:100px;
}


