h1 {
  text-align:center;
  color:#000000;
  font-family: American Typewriter;
  font-size:85px;
  border-bottom:solid 3px #96989b;
  background-color:#00ee76;
  margin-top:0px;
}
span {
  text-decoration:underline;
  font-size:35px;
}
p {
  font-size:35px;
}
ul {
  font-size:20px;
}
.blocks {
 	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 600px;
	background-color:#008b45;
	margin-bottom: 10px;
}
.blockl {
  	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 600px;
	background-color:#00cd66; 
	margin-bottom: 10px; 
}


